.cards {
    box-shadow: 0 0.5px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-left: 100px;
    margin-right: 30px;
    background-color: white;
    place-content: center;
    width: 100%;
}

.cards_head h1{
  font-size: 24px;
}

/* .cards_head h1::before {
  content: "";
  position: absolute;
  bottom: 2px;
  background-color: #2C74B3;
  height: 2px;
  box-sizing: border-box;
  width: 120px;
  margin: -5px;
} */


.divider--color{
  display: flex;
  width: 190px;
  height: 2px;
  background:linear-gradient(to right, #2C74B3, #868282)
}